---
title: Contact
layout: layout.njk
---

<div class="page-content">
  <h1>Contact</h1>
  <p>Got questions? Reach us at <a href="mailto:hello@mastertimewaster.com">hello@mastertimewaster.com</a></p>
</div>
