---
title: Home
layout: layout.njk
---

<div class="hero">
  <h1>Time, <em>Reclaimed.</em></h1>
  <p>Whether you've escaped full-time work or you're carving out freedom on weekends — you're in the club.</p>
</div>

<div class="products">
  {% for product in products %}
    <div class="product-card">
      <img src="{{ product.image }}" alt="{{ product.name }}">
      <div class="product-title-price">
        <h2>{{ product.name }}</h2>
        <p>${{ product.price }}</p>
      </div>
      <button class="buy-button"
        data-slug="{{ product.slug }}"
        data-name="{{ product.name }}"
        data-price="{{ product.price }}"
        data-image="{{ product.image }}">Add to Cart</button>
    </div>
  {% endfor %}
</div>
