---
title: Home
layout: layout.njk
---

<h1>Time, Reclaimed.</h1>
<p>Whether you've escaped full-time work or carving out freedom on weekends — you're in the club.</p>

<div class="products">
  {% for product in products %}
    <div class="product-card">
      <img src="{{ product.image }}" alt="{{ product.name }}">
      <div class="product-title-price">
        <h2>{{ product.name }}</h2>
        <p>${{ product.price }}</p>
      </div>
      <a href="https://mtw4-worker.danrevel.workers.dev/checkout?slug={{ product.slug }}" class="buy-button">Buy Now</a>
    </div>
  {% endfor %}
</div>